In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [1]:

mainData = pd.read_csv("diabetic_data.csv")

In [2]:
mainData = mainData.drop_duplicates(subset= ['patient_nbr'], keep = 'first')

## miss vals

In [3]:
cols_with_miss = []

for col in mainData.columns:
    if mainData[col].isin(["?"]).any():
        cols_with_miss.append(col)
        
print(cols_with_miss)

['race', 'weight', 'payer_code', 'medical_specialty', 'diag_1', 'diag_2', 'diag_3']

In [4]:
colsToDrop = ["encounter_id", 
              "patient_nbr", 
              "admission_type_id", 
              "discharge_disposition_id", 
              "admission_source_id"]

In [5]:
for i in cols_with_miss:
    if i not in colsToDrop:
        colsToDrop.append(i)
        
for i in range(len(colsToDrop)):
    if colsToDrop[i] == "race":
        del colsToDrop[i]
        break
print(colsToDrop)

['encounter_id', 'patient_nbr', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'weight', 'payer_code', 'medical_specialty', 'diag_1', 'diag_2', 'diag_3']

In [6]:
data_del = mainData.drop(colsToDrop, axis=1).copy()
print(data_del.columns)

Index(['race', 'gender', 'age', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'number_diagnoses',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

## object cols

In [7]:
s = (data_del.dtypes == 'object')
object_cols = list(s[s].index)

print(object_cols)

['race', 'gender', 'age', 'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']

#### race

In [8]:
data_del["race"] = data_del["race"].replace("?","Other")

In [9]:
data_del["gender"].value_counts()

Female             38025
Male               33490
Unknown/Invalid        3
Name: gender, dtype: int64

In [10]:
data_del[data_del["gender"] != "Unknown/Invalid"]["gender"].value_counts()

Female    38025
Male      33490
Name: gender, dtype: int64

In [11]:
data_del["gender"] = data_del[data_del["gender"] != "Unknown/Invalid"]["gender"]

In [13]:
meds = list(data_del.columns)[-3-23:-3]
print(meds)

['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone']

In [14]:
data_del["metformin"].value_counts()

No        56527
Steady    13718
Up          838
Down        435
Name: metformin, dtype: int64

In [15]:

lab_en = LabelEncoder()

lab_en.fit(data_del["metformin"])

for col in meds:
    data_del[col] = lab_en.transform(data_del[col])

#data_del["metformin"].value_counts()
data_del.head()

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),1,41,0,1,0,0,0,...,1,1,1,1,1,1,1,No,No,NO
1,Caucasian,Female,[10-20),3,59,0,18,0,0,0,...,1,3,1,1,1,1,1,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),2,11,5,13,2,0,1,...,1,1,1,1,1,1,1,No,Yes,NO
3,Caucasian,Male,[30-40),2,44,1,16,0,0,0,...,1,3,1,1,1,1,1,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,51,0,8,0,0,0,...,1,2,1,1,1,1,1,Ch,Yes,NO

In [16]:
le = LabelEncoder()
le.fit(data_del.race)
data_del.race = le.transform(data_del.race)
data_del.race.value_counts()

2    53491
0    12887
4     3126
3     1517
1      497
Name: race, dtype: int64

In [17]:
a = [30506,
75551,
82573]
for i in a:
    data_del = data_del.drop(index=i, axis=0)
data_del["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [18]:
le2 = LabelEncoder()
data_del["gender"] = le2.fit_transform(data_del["gender"])

In [19]:
le3 = LabelEncoder()
data_del["age"] = le2.fit_transform(data_del["age"])

In [20]:
s = (data_del.dtypes == 'object')
object_cols = list(s[s].index)

print(object_cols)
object_cols.pop()
print(object_cols)

['max_glu_serum', 'A1Cresult', 'change', 'diabetesMed', 'readmitted']
['max_glu_serum', 'A1Cresult', 'change', 'diabetesMed']

In [21]:
le4 = LabelEncoder()

for col in object_cols:
    le4.fit(data_del[col])
    data_del[col] = le4.transform(data_del[col])
data_del[object_cols]

        max_glu_serum  A1Cresult  change  diabetesMed
0                   2          2       1            0
1                   2          2       0            1
2                   2          2       1            1
3                   2          2       0            1
4                   2          2       0            1
...               ...        ...     ...          ...
101754              2          0       0            1
101755              2          1       0            1
101756              2          2       1            1
101758              2          2       0            1
101765              2          2       1            0

[71515 rows x 4 columns]

In [22]:
def simple_decoder(x):
    if x == ">30":
        return 0
    if x == "NO":
        return 0
    if x == "<30":
        return 1

In [23]:
data_del["readmitted"] = data_del["readmitted"].apply(lambda x: simple_decoder(x))

In [24]:
data_del["readmitted"]

0         0
1         0
2         0
3         0
4         0
         ..
101754    0
101755    0
101756    0
101758    0
101765    0
Name: readmitted, Length: 71515, dtype: int64

In [25]:
data_del = data_del.drop(["glimepiride-pioglitazone", "examide", "citoglipton"], axis=1)

In [26]:
data_del.to_csv("clear_data.csv")
print("save")

save